body {
	margin: none;
}

.calendar-wrapper {
	max-width: 935px;
	margin: 0 auto;
	padding:40px 0;
}

.holder{
	position:relative;
	margin: 1em 2%;
	float:left;
	width:29%; 
	height:12em;
}

    .holder#day1 { height:26em; float:right; }
    .holder#day2 { height:26em; }
    .holder#day3 {}
    .holder#day4 {}
    .holder#day5 {width:40%;}
    .holder#day6 { width:40%;}
    .holder#day7 {}
    .holder#day8 {width:18%;}
    .holder#day9 {width:18%;}
    .holder#day10 {width:18%;}
    .holder#day11 {width:18%;}
    .holder#day12 {width:18%;}
    .holder#day13 {width:18%;}
    .holder#day14 {width:18%;}
    .holder#day15 {width:18%;}
    .holder#day16 {width:18%;}
    .holder#day17 {width:18%;}
    .holder#day18 {}
    .holder#day19 {}
    .holder#day20 {}
    .holder#day21 {height:26em;}
    .holder#day22 {width:18%;}
    .holder#day23 {}
    .holder#day24 {}


.door {
    background:red;
    width: 100%;
    height: 100%;
    z-index:100;
    position:absolute;
    cursor:pointer;
}

.stopDoor {    
    cursor:not-allowed !important;
}

 .hover{
     -webkit-animation: example 2.8s ease 0s  ;
     animation: example 2.8s ease   0;
     -webkit-animation-fill-mode: forwards;
     animation-fill-mode: forwards;
}



@-webkit-keyframes example {

    0% {
        -webkit-transform: perspective(1000) rotateY(0deg);
        -webkit-transform-origin: 0% 50%;
        opacity:1;
    }
    
    30% {
       -webkit-transform: perspective(1000) rotateY(-95deg);
       -webkit-transform-origin: 0% 50%;
        opacity:1;
    }
    
    
    40% {
       -webkit-transform: perspective(1000) rotateY(-95deg);
       -webkit-transform-origin: 0% 50%;
        opacity:1;
    }
    
    100% {
       -webkit-transform: perspective(1000) rotateY(-95deg);
       -webkit-transform-origin: 0% 50%;
        opacity:0;
       
        
    }
}


.door-content{
    background:white;
    border: 1% solid black;
    position:absolute;
    top:0;
    left:0;
    z-index:1;
    width:98%;
    height:98%;
    cursor:pointer;
    overflow:hidden;
}

.largeContent {
    width:200%;
    height:200%;
    padding:9px;
    top:-50%;
    left:-50%;
    z-index:1001;
}

.content p { position: relative; }

.transition {
    -moz-transition: all 300ms ease-out;
    -webkit-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
}

.contentMag {
    position:absolute;
    top:0;
    right:0;
    background:black;
    width:20px;
    height:20px;
}